<ng-container *ngIf="squads">
    <div *ngIf="squads.length == 0" class="text-white">NESSUNA SQUADRA AGGIUNTA</div>
    <div *ngFor="let squad of squads" class="text-white border border-white rounded-lg w-3/4 p-2 mx-auto mb-1">
        <div class="flex justify-around items-center">
            <div><img [src]="squad.logo" alt="" class="w-16"></div>
            <div>
                <h2><b>{{squad.nome}}</b></h2>
            </div>
            <div *ngIf="squad.players.length > 0">Rosa: {{squad.players.length}}</div>
            <div *ngIf="squad.players.length == 0">Rosa: 0</div>
            <div><i *ngIf="squad.open==false" class="fa-solid fa-eye" (click)="squad.open = true"></i><i *ngIf="squad.open==true" (click)="squad.open = false" class="fa-solid fa-eye-slash"></i></div>
        </div>
        <div *ngIf="squad.open == true">
            <table class="w-full text-sm text-left text-gray-400">
                <thead class="text-xs uppercase bg-gray-700 text-gray-400">
                    <tr>
                        <th scope="col" class="py-3 px-6">
                            Immagine
                        </th>
                        <th scope="col" class="py-3 px-6">
                            Nome
                        </th>
                        <th scope="col" class="py-3 px-6">
                            Ruolo
                        </th>
                        <th scope="col" class="py-3 px-6">
                            Squadra
                        </th>
                        <th scope="col" class="py-3 px-6">
                            Logo
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class=" border-b bg-gray-800 border-gray-700" *ngFor="let player of squad.players">
                        <th scope="row" class="py-4 px-6 font-medium  whitespace-nowrap text-white">
                            <img [src]="player.photo" class="w-14">
                        </th>
                        <th scope="row" class="py-4 px-6 font-medium  whitespace-nowrap text-white">
                            {{player.name}}
                        </th>
                        <td class="py-4 px-6 text-white">
                            {{player.position}}
                        </td>
                        <td class="py-4 px-6 text-white">
                            {{player.team}}
                        </td>
                        <td class="py-4 px-6 text-white">
                            <img [src]="player.logoT" class="w-14">
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="mx-auto text-center"><b>Crediti rimanenti: {{squad.crediti}}</b></div>
        </div>
    </div>
</ng-container>