<app-header></app-header>
<div *ngIf="auth.user | async as user; else showLogin">
    <app-squadre-gen *ngIf="switchPage.isGenSquad"></app-squadre-gen>
    <app-estrazione *ngIf="switchPage.isEstraz"></app-estrazione>
</div>
<ng-template #showLogin>
    <div class="flex flex-col justify-around items-center">
        <div style="width: 200px">
            <label for="email" style="color:aliceblue">Email</label>
            <input type="email" id="email" [(ngModel)]="email">
        </div>
        <div style="width: 200px">
            <label for="password" style="color:aliceblue">Password</label>
            <input type="password" id="password" [(ngModel)]="password">
        </div>
        <div>
            <button type="button" class="btn btn-primary"
                (click)="login()">Sign in</button>
        </div>
    </div>
</ng-template>