<div class="flex justify-aroundr" style="width: 95%; margin: 0 auto">
    <div class="preview-container sm:mb-4 w-1/3" style="color: aliceblue; " *ngIf="squad != undefined">
        <table class="w-full text-sm text-left text-gray-400">
            <thead class="text-xs uppercase bg-gray-700 text-gray-400">
                <tr class="text-center">
                    <th scope="col" class="py-3 px-6">
                        Nome
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Crediti
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Logo
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Elimina
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class=" border-b bg-gray-800 border-gray-700 text-center" *ngFor="let squadArr of arrSquadre" >
                    <th scope="row" class="py-4 px-6 font-medium  whitespace-nowrap text-white text" >
                        {{squadArr.nome}}
                    </th>
                    <td scope="row" class="py-4 px-6 font-medium  whitespace-nowrap text-white">
                        {{squadArr.crediti}}
                    </td>
                    <td class="py-4 px-6 text-white">
                        <img style="width: 40px; height:40px; margin: 0 auto;" [src]="squadArr.logo">
                    </td>
                    <td class="py-4 px-6 text-white">
                        <i class="fa-solid fa-trash text-red-500 cPointer"
                        (click)="firebaseService.DeleteSquad(squadArr)"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center w-1/3" >
        <label for="exampleFormControlInput1" class="text-white">Nome Squadra</label>
        <br>
        <input type="text" class="text-cyan-50 bg-slate-900 m-2 p-2" style="width:400px; color:aliceblue; margin: 0 auto;"
            id="exampleFormControlInput1" placeholder="FCDONETSK" [(ngModel)]="squad.nome">
        <br />
        <label for="exampleFormControlInput1" class="text-white">Crediti</label>
        <br>
        <input type="number" class="text-cyan-50 bg-slate-900 m-2 p-2" style="width:400px; color:aliceblue; margin: 0 auto;"
            id="exampleFormControlInput1" placeholder="€cazzi$" step="1" min="0" [(ngModel)]="squad.crediti">
        <br />
        <label for="exampleFormControlInput1" class="text-white">Logo</label>
        <br>
        <input type="text" class="text-cyan-50 bg-slate-900 m-2 p-2" style="width:400px; color:aliceblue; margin: 0 auto;"
            id="exampleFormControlInput1" placeholder="https://unacasettaincanada.com/" [(ngModel)]="squad.logo">
        <br />
        <div>
            <button type="button" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mt-2"
                (click)="firebaseService.CreateSquad(squad)">Aggiungi</button>
            </div>
    </div>
    <div class="preview-container w-1/3" style="color: aliceblue; " *ngIf="squad != undefined">
        <div *ngIf="squad.nome != ''">
            <h3>{{squad.nome}}</h3>
        </div>
        <div *ngIf="squad.crediti != 0">{{squad.crediti}} crediti</div>
        <div *ngIf="squad.logo != ''"><img [src]="squad.logo" alt='logo' style="width: 150px; height: 150px"></div>
    </div>
</div>