<div class="flex flex-wrap justify-around sm:flex-col sm:items-center" style="width: 95%; margin: 0 auto">
    <div class="preview-container sm:mb-4" style="color: aliceblue; min-width: 600px;" *ngIf="squad != undefined">
        <table class="table-auto my-0 mx-auto" >
            <thead class="text-center ">
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Crediti</th>
                    <th scope="col">Logo</th>
                    <th scope="col">Elimina</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let squadArr of arrSquadre" class="text-center">
                    <th scope="row" class="border-y">{{squadArr.nome}}</th>
                    <td class="border-y">{{squadArr.crediti}}</td>
                    <td class="border-y"><img style="width: 20px; height:20px" [src]="squadArr.logo"></td>
                    <td class="border-y"><i class="fa-solid fa-trash text-red-500 cPointer"
                            (click)="firebaseService.DeleteSquad(squadArr)"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center " style="min-width: 600px;">
        <label for="exampleFormControlInput1" class="text-white">Nome Squadra</label>
        <br>
        <input type="text" class="text-cyan-50 bg-slate-900 m-2 p-2" style="width:400px; color:aliceblue; margin: 0 auto;"
            id="exampleFormControlInput1" placeholder="FCDONETSK" [(ngModel)]="squad.nome">
        <br />
        <label for="exampleFormControlInput1" class="text-white">Crediti</label>
        <br>
        <input type="number" class="text-cyan-50 bg-slate-900 m-2 p-2" style="width:400px; color:aliceblue; margin: 0 auto;"
            id="exampleFormControlInput1" placeholder="€cazzi$" step="1" min="0" [(ngModel)]="squad.crediti">
        <br />
        <label for="exampleFormControlInput1" class="text-white">Logo</label>
        <br>
        <input type="text" class="text-cyan-50 bg-slate-900 m-2 p-2" style="width:400px; color:aliceblue; margin: 0 auto;"
            id="exampleFormControlInput1" placeholder="https://unacasettaincanada.com/" [(ngModel)]="squad.logo">
        <br />
        <div>
            <button type="button" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mt-2"
                (click)="firebaseService.CreateSquad(squad)">Aggiungi</button>
            </div>
    </div>
    <div class="preview-container" style="color: aliceblue; min-width: 600px;" *ngIf="squad != undefined">
        <div *ngIf="squad.nome != ''">
            <h3>{{squad.nome}}</h3>
        </div>
        <div *ngIf="squad.crediti != 0">{{squad.crediti}} crediti</div>
        <div *ngIf="squad.logo != ''"><img [src]="squad.logo" alt='logo' style="width: 150px; height: 150px"></div>
    </div>
</div>