
<section>
  <nav>
    <p style="text-align: center;">Asta-PIXI</p>
    <ul class="menuItems" style="margin: 0 auto; width: fit-content">
      <li><a href='#' (click)="switchPage.SwitchPage('genSquad')">Home</a></li>
      <li><a href='#' (click)="switchPage.SwitchPage('genSquad')">Impostazioni</a></li>
      <li><a href='#' (click)="switchPage.SwitchPage('estr')">Estrazione</a></li>
      <li><button type="button" class="" (click)="logout()">Aggiungi</button></li>
    </ul>
  </nav>
</section>
