

<div class="topnav text-center mb-10" id="myTopnav">
  <span class="mr-5 ml-2 mt-3 text-center text-white ">ASTA-PIXI</span>
  <a (click)="switchPage.SwitchPage('panSquad')" class="active">Home</a>
  <a (click)="switchPage.SwitchPage('genSquad')">Impostazioni</a>
  <a (click)="switchPage.SwitchPage('estr')">Estrazione</a>
  <a type="button" class="bg-slate-500 hover:bg-slate-700 text-white font-bold p-1 rounded" (click)="logout()">LogOut</a>
  <a href="javascript:void(0);" class="icon" (click)="openNav()">
    <i class="fa fa-bars"></i>
  </a>
</div>
