<div style="text-align: start; margin-left: 30px">
    <button *ngIf="daGenerare" (click)="GenerateData()" type="button" class="btn btn-success">Genera estrazione</button>
    <button *ngIf="daGenerare == false" (click)="Elimina()" type="button" class="btn btn-danger">Elimina
        estrazione</button>
</div>
<div class="container">
    <div style="text-align: center; margin-bottom: 20px">
        <select [(ngModel)]="roleSelected">
            <option *ngFor="let position of roleArr" [value]="position">{{position}}</option>
        </select>
    </div>

    <div class="card">
        <div class="card-img"><img style=" display: block; margin-left: auto; margin-right: auto;"
                [src]="selectedPlayer.photo"></div>
        <div class="card-body">
            <div class="d-flex justify-content-around">
                <div><b>{{selectedPlayer.name}}</b></div>
            </div>
            <div class="d-flex justify-content-around">
                <div>Age: {{selectedPlayer.age}}</div>
                <div>Role: {{selectedPlayer.position}}</div>
            </div>
            <div class="d-flex justify-content-around">
                <div>Team: {{selectedPlayer.team}}</div>

            </div>
            <div class="d-flex justify-content-around">

                <div><img style="width: 75px; height: 75px" [src]="selectedPlayer.logoT"></div>
            </div>
        </div>
        <div class="card-footer"></div>
        <label for="squad">Squadra:</label>
        <select [(ngModel)]="squadSelected" id="squad">
            <option *ngFor="let squad of squadSub" [value]="squad.nome">{{squad.nome}}</option>
        </select>
        <label for="crediti">Crediti:</label>
        <input type="number" name="crediti" id="crediti" [(ngModel)]="creditiSpesi" step="1" min="0">
        <button type="button" class="btn btn-success" (click)="Associa()">Associa</button>
    </div>
    <div style="text-align: end;">
        <button type="button" class="btn btn-light" (click)="SelectRandom()">Estrai nuovo</button>
    </div>

</div>