<div *ngIf="daGenerare" style="color:aliceblue; text-align:center"><h1>Devi generare una sessione nuova di estrazione</h1></div>
<div style="text-align: start; margin-left: 30px">
    <button *ngIf="daGenerare" (click)="GenerateData()" type="button" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mt-2">Genera estrazione</button>
    <button *ngIf="daGenerare == false" (click)="Elimina()" type="button" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded mt-2">Elimina
        estrazione</button>
</div>
<div class="container" style="margin: 0 auto"  *ngIf="!daGenerare">
    <div style="text-align: center; margin-bottom: 20px">
        <select [(ngModel)]="roleSelected">
            <option *ngFor="let position of roleArr" [value]="position">{{position}}</option>
        </select>
    </div>

    <div class="card" style="border: 2px solid white; border-radius: 10px">
        <div class="card-img"><img style=" display: block; margin-left: auto; margin-right: auto;"
                [src]="selectedPlayer.photo"></div>
        <div class="card-body">
            <div class="flex justify-around">
                <div><b>{{selectedPlayer.name}}</b></div>
            </div>
            <div class="flex justify-around">
                <div>Age: {{selectedPlayer.age}}</div>
                <div>Role: {{selectedPlayer.position}}</div>
            </div>
            <div class="flex justify-around">
                <div>Team: {{selectedPlayer.team}}</div>

            </div>
            <div class="flex justify-around">
                <div class="logo"><img style="width: 75px; height: 75px" [src]="selectedPlayer.logoT"></div>
            </div>
        </div>
        <div class="card-footer m-2"></div>
        <label for="squad">Squadra:</label>
        <br>
        <select [(ngModel)]="squadSelected" id="squad" class="text-cyan-50 bg-slate-900 m-2 w-64">
            <option *ngFor="let squad of squadSub" [value]="squad.nome">{{squad.nome}}</option>
        </select>
        <br>
        <label for="crediti m-2" >Crediti:</label>
        <br>
        <input type="number" name="crediti" id="crediti" class="text-cyan-50 bg-slate-900 m-2 w-64" [(ngModel)]="creditiSpesi" step="1" min="0">
        <div class="text-center">
         <button type="button" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded m-2" (click)="Associa()">Associa</button>
        </div>
    </div>
    <div style="text-align: end;">
        <button type="button" class="bg-cyan-500 hover:bg-cyan-700 text-white font-bold py-2 px-4 rounded mt-2" (click)="SelectRandom()">Estrai nuovo</button>
    </div>
</div>
