.card {
    width: 400px;
    height: 600px;
    margin: 0 auto;
    background-color: black;
    color: aliceblue;
    font-size: 22px;
    position: relative;
}

.card-img{
    position: relative;
    top: 40px;
}

.card-footer {
    width: 70%;
    margin: 0 auto;
    text-align: center
}

.logo{
    margin-top: 20px
}

.culo{
    border: 1px solid red;
}